<ion-view>
    <ion-header-bar align-title="center" class="bar">
        <h1 class="title">Bienvenu {{myUser.name}}</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="logout()"> </a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="etat">
            <div style="float:right;">
                <div class="etat-text" ng-if="vehicule.etat">En route</div>
                <div class="etat-text" ng-if="!vehicule.etat">En pause</div>
                <label class="toggle etat-toggle">
                    <input type="checkbox" ng-model="vehicule.etat" ng-checked="vehicule.etat">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <div class="footer">
        <button class="button button-full button-assertive" ng-click="reportProblem();">
            <i class="icon ion-alert-circled"></i>
            Signaler un problème
        </button>
    </div>
</ion-view>
