<ion-view cache-view="false">
    <ion-header-bar align-title="center" class="bar">
        <a ng-click="goToHome()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        <h1 class="title">{{pannes.length}} problème(s) en cours</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="onLogOutClick()"> </a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="problems" ng-show="pannes.length <= 0">
            <div class="bar bar-energized">
                <div class="title">Aucun problème en cours !</div>
            </div>
        </div>

        <table style="width:100%">
            <tr style="background-color:#D2D2D2;">
                <td style="padding-left:20px">Priorité</td>
                <td>Véhicule</td>
                <td ng-if="myUser.right != 'Transporteur'">Adresse</td>
                <td>Commentaire</td>
                <td>Date</td>
                <td>Type</td>
                <td ng-if="myUser.right == 'Réparateur'">Intervention</td>
                <td ng-if="myUser.right != 'Gestionnaire'">Supp</td>
            </tr>
            <tr ng-repeat="panne in pannes" ng-init="pannes[$index].state == 'Déclarée' ? myClass = 'Déclarée' : myClass='EnCours'" ng-class="myClass" class="panne{{pannes[$index].id}}">
                <td><i class="icon ion-alert-circled" style="font-size:30px;padding-left:20px;" ng-class="classPriority" ng-init="classPriority=panne.priority"></i></td>
                <td>{{panne.truckName}}</td>
                <td ng-if="myUser.right != 'Transporteur'">
                    {{panne.address}}
                    <button ng-if="myUser.right == 'Réparateur'" ng-controller="HomeRepairmanCtrl" class="button button-icon bt-cancel-problems" ng-click="traceIntineraire(panne.address)">
                        <i class="icon ion-pin calm"></i>
                    </button>
                </td>
                <td>{{panne.comment}}</td>
                <td>{{panne.createdAt}}</td>
                <td>{{getTypePanne(panne.typePanne)}}</td>
                <td ng-if="myUser.right == 'Réparateur'">
                    <button class="col col-20 button button-icon" ng-click="intervenir({{$index}})" ng-if="panne.idRepairman == null || panne.idRepairman == myUser.id">
                        <i class="icon ion-log-in balanced" ng-if="panne.state != 'En cours'"></i>
                        <i class="icon ion-log-out energized" ng-if="panne.state == 'En cours'"></i>
                    </button>
                    <div ng-if="panne.idRepairman != null && panne.idRepairman != myUser.id ">ID: {{panne.idRepairman}}</div>
                </td>
                <td ng-if="myUser.right != 'Gestionnaire'">
                    <button class="col col-20 button button-icon bt-cancel-problems" ng-click="cancelProblem(panne)">
                        <i class="icon ion-android-cancel assertive"></i>
                    </button>
                </td>
            </tr>
        </table>
    </ion-content>
</ion-view>
