<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Modifier mot de passe</h1>
        <button class="button button-clear button-positive" ng-click="closeEditPassword()">Annuler</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <form ng-submit="doEditPassword()">
            <label class="item item-input item-floating-label">
                <span class="input-label">Mot de passe actuel:</span>
                <input type="password" placeholder="Mot de passe actuel" ng-model="user.oldPassword" ng-focus="reinitCase($event)">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Nouveau mot de passe:</span>
                <input type="password" placeholder="Nouveau mot de passe" ng-model="user.newPassword" ng-focus="reinitCase($event)">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Confirmer nouveau mot de passe:</span>
                <input type="password" placeholder="Confirmer nouveau mot de passe" ng-model="user.confirmNewPassword" ng-focus="reinitCase($event)">
            </label>

            <button id="btValidate2" class="button button-full button-balanced" type="submit">
                <div id="msgNormal2">
                    <i class="ion-checkmark"></i>
                    <span>Valider</span>
                </div>
                <div id="msgError2">
                    <i class="ion-alert-circled"></i>
                    <span>   {{msgBtError}}</span>
                </div>
            </button>
        </form>
    </ion-content>
</div>