<ion-view>
    <ion-header-bar align-title="center" class="bar">
        <div class="buttons">
            <a ng-click="goToBack()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
        </div>
        <h1 class="title">Administration: Véhicules</h1>
        <div class="buttons">
            <a class="button icon-right ion-power  button-clear button-dark" ng-controller="LoginCtrl" ng-click="onLogOutClick()"> </a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="chargement">
            <img src="../../img/ajax-loader.gif" alt="Chargement"/>
        </div>
        <div class="table-responsive">
            <table ng-table="tableParamsTruck" class="table table-striped table-bordered" style="text-align:center">
                <tr ng-repeat="truck in $data">
                    <td data-title="'Id'">
                        #{{truck.id}}
                    </td>
                    <td data-title="'Nom'">
                        #{{truck.name}}
                    </td>
                    <td data-title="'Conduite'">
                        {{truck.running}}
                    </td>
                    <td data-title="'Etat'">
                        {{truck.state}}
                    </td>
                    <td data-title="'Position'">
                        {{truck.location}}
                    </td>
                    <td data-title="'Supprimer'">
                        <button class="button button-small button-icon" ng-click="removeTruck({{truck.id}})">
                            <i class="icon ion-ios-trash assertive"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="container">
            <div class="jumbotron">
                <h3>Ajouter un véhicule:</h3>
                <form ng-submit="createTruck()">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Nom" ng-model="newTruck.name">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Position" ng-model="newTruck.location">
                        </label>
                        <label class="item item-input" ng-if="myUser.right != 'Gestionnaire'">
                            <input required type="number" min=1 placeholder="Compagnie id" ng-model="newTruck.company">
                        </label>
                        <label class="item item-input">
                            <label>Utilisateur: <br> </label>
                            <select ng-model="newTruck.currentUser" class="form-control" style="width:25%" ng-init="newTruck.currentUser = 'null'" >
                                <option value='null'>Aucun</option>
                                <option ng-repeat="user in users" value="{{user.id}}">{{user.firstname}} {{user.lastname}}</option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <label>Etat:  <br></label>
                            <select class="form-control" style="width:15%" ng-model="newTruck.state" ng-init="newTruck.state = 'Ok'">
                                <option value="Ok">Ok</option>
                                <option value="En Panne">En Panne</option>
                            </select>
                        </label>
                        <div class="item item-input">
                            <label ng-show="!newTruck.running">Véhicule à l'arrêt. <br></label>
                            <label ng-show="newTruck.running">Véhicule en route. <br></label>
                            <label class="toggle toggle-balanced etat-toggle right">
                                <input type="checkbox" ng-model="newTruck.running" ng-init="newTruck.running = false">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <button id="" class="button button-full button-balanced" type="submit">
                        <div id="successCo">
                            <i class="ion-android-arrow-dropright-circle"></i>
                            <span>   Ajouter</span>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
